page-home {
    #fond {
        background: url('../../assets/imgs/Accueil-iot.png');
    }
    .button-md-warning {
        position: absolute;
        color: #fff;
        bottom: 100px;
        left: 44%;
    }
}
