page-boisson {
    ion-card img {
        width: 368px;
    }
    .boisson-col:nth-child(even) {
        button, .card-md {
            box-shadow: none;
            background: #93c0e9;
            margin-bottom: 10px;
        }
        strong {
            color: #f7a600;
        }
    }
    .boisson-col:nth-child(odd) {
        button, .card-md {
            box-shadow: none;
            background: #0171ce;
            margin-bottom: 10px;
        }
    }
}