<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Nos Boissons</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
        <ion-grid>
            <ion-row>
                <span class="boisson-col" *ngFor="let boisson of boissons">
                    <ion-col *ngIf="boisson.is_plat == 0" col-4>
                        <button (click)="ajoutBoisson(boisson.titre, boisson.prix, boisson.image, boisson.id)">
                            <ion-card>
                                <img src="http://smartorder.jeremielbaz.fr{{boisson.image}}" width="300px" height="300px"/>
                                <ion-card-content padding>
                                    <ion-card-title>{{boisson.titre}} <strong>{{boisson.prix}} €</strong></ion-card-title>
                                </ion-card-content>
                            </ion-card>
                        </button>
                    </ion-col>
                </span>
            </ion-row>
        </ion-grid>
  </ion-content>