<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Nos Plats</ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content padding>
            <ion-grid>
                <ion-row>
                    <span *ngFor="let plat of plats">
                        <ion-col *ngIf="plat.is_plat == 1" class="plat-col" col-4>
                            <button (click)="ajoutPlat(plat.titre, plat.prix, plat.image, plat.id)">
                                <ion-card>
                                    <img src="http://smartorder.jeremielbaz.fr{{plat.image}}" width="300px" height="300px"/>
                                    <ion-card-content padding>
                                        <ion-card-title>{{plat.titre}} <strong>{{plat.prix}} €</strong></ion-card-title>
                                    </ion-card-content>
                                </ion-card>
                            </button>
                        </ion-col>
                    </span>
                </ion-row>
            </ion-grid>
      </ion-content>