<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Commande</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h3>Bienvennue</h3>
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <button class="choix" (click)="plat()">
              <ion-card id="img-plats">
                  <div class="card-title">Plats</div>
                  <div class="card-subtitle">On a pas fini de vous couver</div>
                </ion-card>
          </button>
        </ion-col>
        <ion-col col-3>
          
          <ion-card *ngIf="clients == null">
              <ion-card-header>
                <b>Première commande ?</b>
              </ion-card-header>
              <br>
              <ion-card-content>
                <p>Vous n'avez jamais commander avec nos bornes de commandes ?<br> Je vous invites alors à passer par ici !</p>
                <br>
                <br>
                <button ion-button color="danger" (click)="inscription()"> C'est parti !</button>
              </ion-card-content>
            </ion-card>

            <ion-card *ngIf="clients != null">
                <ion-card-header>
                  <b>Bonjour</b>
                </ion-card-header>
                <br>
                <ion-card-content>
                  <h3 style="font-size:2em !important;">{{ clients.nom }}</h3>
                  <h4 style="font-size:2em !important;">{{ clients.email }}</h4>
                  <br>
                  <br>
                </ion-card-content>
              </ion-card>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9>
            <button class="choix" (click)="boisson()">
              <ion-card id="img-boissons">
                <div class="card-title">Boissons</div>
                <div class="card-subtitle">Pour étancher votre soif</div>
              </ion-card>
            </button>
        </ion-col>
        <ion-col col-3>
            <ion-card >
                <ion-card-header>
                  <b>Panier</b>
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                        <ion-scroll *ngIf="panier != null" scrollY="true">
                            <ion-item *ngFor="let produit of panier">
                                <ion-avatar item-start>
                                  <img src="http://smartorder.jeremielbaz.fr{{produit.img}}"/>
                                </ion-avatar>
                                <h2>{{produit.title}} {{produit.price}}€</h2>
                            </ion-item>
                        </ion-scroll>

                        <p class="text-center" *ngIf="panier == null">
                            Le panier est vide
                        </p>
                </ion-list>
                </ion-card-content>
                <button ion-button color="warning" (click)="commander()"> Valider ma commande</button>
              </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  