page-paiement {
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 0%;
        width: 69px;
        height: 69px;
    }
    p {
        padding: 21px;
        border-top: 1px solid black;
        font-size: 26px;
    }
}